body,html
{
    height:100%;
    padding:0px;
    margin:0px;
}
body 
{
    background-image: url("../img/background.png");
}
.left,.middle,.right
{
    float:left;
    width:33.3%;
    height:70%;
    bottom:0px;
}
/*elementos dentro del left*/
.controlpanel
{
    float:left;
    margin-top:5%;
    margin-left:5%;
    width:100%;
}
    .gasolina
    {
        height:10%;
        width:10%;
    }
    .velocidad
    {
        height:10%;
        width:10%;
    }
    .altura
    {
        height:10%;
        width:10%;
    }
/*Elementos dentro del bottom*/
.bottom
{
    position:fixed;
    height:30%;
    width:100%;
    bottom:0px;
}
    .luna
    {
        height:100%;
        width:100%;
    }
/*Elementos dentro del middle*/
.nave
{
    position:absolute;
	top:3%;
	left:46%;
    width:8%;
    height:15%;
}
/*Elementos dentro del right*/
.playpause
{
    float:right;
    margin-top:5%;
}
    .play
    {
        float:left;
        height:50%;
        width:50%;
    }
    .opciones
    {
        float:right;
        height:50%;
        width:50%;
    }
