body,html{
    height: 100%;
    padding: 0px;
    margin: 0px;
}
body {
    background-image: url("../img/background.png");
}
.left,.middle,.right{
    float: left;
    width: 33.3%;
    height: 70%;
    bottom: 0px;
}
/*elementos dentro del left*/
.controlpanel{
    float: left;
    margin-top: 5%;
    margin-left: 5%;
    width: 100%;
}
.gasolina{
    height: 10%;
    width: 10%;
}
.velocidad{
    height: 10%;
    width: 10%;
}
.altura{
    height: 10%;
    width: 10%;
}
.contadorGasolina{
    float: left;
    margin-top: 5%;
    margin-left: 5%;
    height: 10%;
    width: 8%;
    background-color: yellow;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
}
.contadorVelocidad{
    float: left;
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
    height: 40%;
    width: 8%;
    background-color: red;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
}
.contadorAltura{
    float: left;
    margin-top:5%;
    height: 80%;
    width: 8%;
    background-color: darkorange;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
}


/*Elementos dentro del bottom*/


.bottom{
    position: fixed;
    height: 30%;
    width: 100%;
    bottom: 0px;
}
.luna{
    height: 100%;
    width: 100%;
}

/* Elementos del middle */


.nave{
    position: absolute;
	top: 5%;
	left: 46%;
    width: 8%;
    height: 15%;
    z-index: 1;
}


/*Elementos dentro del right*/


.botones{
    float: right;
    margin-top: 5%;
    width: 80%;
}
.play{
    float: left;
    height: 33%;
    width: 33%;
}
.reiniciar{
    float: left;
    height: 33%;
    width: 33%;
}
.opciones{
    float: right;
    height: 33%;
    width: 33%;
}


/* Menu de opciones */
.menu{
    height: 50%;
    width: 50%;
    background-color: darkslategray;
    filter: opacity(50%);
    margin-top: 10%;
    margin-left: 25%;
    position: absolute;
    text-align: center;
    color: yellow;
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    z-index: 2;
}
.pl,.rei,.info, .acercade{
    height: 40%;
    margin-left: 2%;
    margin-right: 2%;
}
