body,html{
    height: 100%;
    padding: 0px;
    margin: 0px;
}
body {
    background-image: url("../img/background.png");
}
.left,.middle,.right{
    float: left;
    width: 33.3%;
    height: 80%;
    bottom: 0px;
}


/*elementos dentro del right*/


.botones{
    float: right;
    margin-top: 5%;
    width: 70%;
    display: none;
}
.opciones{
    float: right;
    width: 100%;
}
.play, .reiniciar{
    display: none;
}


/*Elementos dentro del bottom*/


.bottom{
    position: fixed;
    height: 20%;
    width: 100%;
    bottom: 0px;
}
.luna{
    height: 100%;
    width: 100%;
}


/* Elementos del middle */



.nave{
    position: absolute;
	top: 3%;
    width: 33%;
    height: 20%;
    z-index: 1;
}


/*Elementos dentro del left*/


.contadorGasolina{
    float: left;
    margin-top: 5%;
    margin-left: 5%;
    height: 80%;
    width: 15%;
    background-color: yellow;
    border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    border: 0px solid #000000;
}
.contadorVelocidad{
    float: left;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    height: 80%;
    width: 15%;
    background-color: red;
    border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    border: 0px solid #000000;
}
.contadorAltura{
    float: left;
    margin-top:5%;
    height: 80%;
    width: 15%;
    background-color: darkorange;
    border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    border: 0px solid #000000;
}
.controlpanel{
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    width: 100%;

}
.gasolina{
    float: left;
    width: 20%;
}
.velocidad{
    float: left;
    margin-left: 3%;
    margin-right: 3%;
    width: 20%;
}
.altura{
    float: left;
    width: 20%;
}


/* Menu de opciones */


.menu{
    height: 40%;
    width: 80%;
    background-color: darkslategray;
    filter: opacity(50%);
    margin-top: 30%;
    margin-left: 10%;
    position: absolute;
    text-align: center;
    color: yellow;
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    z-index: 2;
}
.pl,.rei,.info, .acercade{
    height: 20%;
    margin-left: 2%;
    margin-right: 2%;
}
