body,html
{
    height:100%;
    padding:0px;
    margin:0px;
}
body 
{
    background-image: url("../img/background.png");
}
.left,.middle,.right
{
    float:left;
    width:33.3%;
    height:80%;
    bottom:0px;
}
/*elementos dentro del right*/
.playpause
{
    float:right;
    margin-top:5%;
    width:40%;
}
    .play
    {
        float:right;
        height:40px;
        width:40px;
    }
    .reiniciar
    {
        float:right;
        height:40px;
        width:40px;
    }
    .opciones
    {
        float:right;
        height:40px;
        width:40px;
    }
/*Elementos dentro del bottom*/
.bottom
{
    position:fixed;
    height:20%;
    width:100%;
    bottom:0px;
}
    .luna
    {
        height:100%;
        width:100%;
    }
.nave
{
    position:absolute;
	top:3%;
    width:120px;
    height:120px;
}
/*Elementos dentro del left*/
.controlpanel
{
    float:left;
    margin-left:5%;
    margin-top:200px;
    width:65px;
}
    .gasolina
    {
        float:left;
        width:20px;
        height:20px;
    }
    .velocidad
    {
        float:left;
        margin-left:3%;
        margin-right:3%;
        width:20px;
        height:20px;
    }
    .altura
    {
        float:left;
        width:20px;
        height:20px;
    }
